<h2 mat-dialog-title>EMPLOYEE FORM</h2>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="Address"></textarea>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial type="submit">Submit</button>
    </mat-dialog-actions>
</form>